footer.page-footer.white
    .container
        .row
            .col l6 s12
                h5.grey-text.text-darken-3 Hackerium
                p.grey-text.text-darken-3 Teaching to code. Delivering Computer Education, The Right Way.

            .col.l4.offset-l2.s12
                h5.grey-text.text-darken-3 Links
                ul
                    li
                        a(href="#").grey-text.text-darken-3 Link 1
                    li
                        a(href="#").grey-text.text-darken-3 Link 2
                    li
                        a(href="#").grey-text.text-darken-3 Link 3
                    li
                        a(href="#").grey-text.text-darken-3 Link 4

    .footer-copyright.grey.lighten-4
        .container.grey-text.text-darken-3
            | © #{new Date().getFullYear()} All Rights Reserved - Hackerium
            a(href="#").grey-text.text-darken-3.right &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy Policy
            a(href="#").grey-text.text-darken-3.right Terms &amp; Conditions
